#e3,
#e3 .container {
  overflow: hidden;
  z-index: 0;
  background: none;
  padding: 5px !important;
}

#e3 {
  background: none
}

.v-input--selection-controls {
  margin-top: 0px;
  padding-top: 0px;
}

.bestseller {
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  color: white !important;
  background-color: #47c14c;
  font-size: 16px !important;
  margin-top: 5px;
  margin-left: 10px;
  text-align: center;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.shopresponsive {
  position: fixed !important;
  width: 100% !important;
  display: block !important;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0
}

.mapcontainer,
.GMap,
.GMap__Wrapper {
  max-height: 400px !important;
  width: 100% !important;
}

@media screen and (min-width: 320px) and (max-width: 768px) {

  .mapcontainer,
  .GMap,
  .GMap__Wrapper {
    height: 100vw !important;
    width: 100vw !important;
    max-height: 100vw !important;
    max-width: 100% !important;
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
